@babii_oleh:registry=https://gitlab.com/api/v4/projects/74587005/packages/npm/
//gitlab.com/api/v4/projects/74587005/packages/npm/:_authToken=glpat-TuSjWVscmMPBkJEV-bIp5W86MQp1OjQ2NGszCw.01.121c9rxc9
